page-about {

	line-height: 1.5em;

	ion-header {
		ion-title {
			font-family: 'ITCBaileySansCom-Bold';
		}
	}

	img#marke {
	 	max-width: 200px;
	 	margin-top: 20px;
	}

	h2 {
		margin: 2rem auto 1rem;

		font-family: 'ITCBaileySansCom-Bold';
		font-size: 2.5rem;
		font-weight: 800;
	}

	ion-grid {
		padding: 0;

		ion-row {
			ion-col:first-child {
				padding-left: 0;
			}
			ion-col:last-child {
				padding-right: 0;
			}
		}
	}
}
