page-home, {
	background-color: #333333;
	background-image: url('../assets/images/background-veganscan.jpg');
	background-size: auto 100%;
	background-position: 40%;

	ion-content.content-ios, ion-content.content-md {
		background: transparent;
		color: #ffffff;
	}

	ion-header {
		background: transparent;
		
		&::after {
			content: none !important;
		}

		ion-toolbar {
			.toolbar-background {
				background: transparent;
			}
			
			ion-icon {
				color: white;
				font-size: 1.7em;
			}
		}

		&.header-md::after {
			content: none;
		}
	}

	ion-slides {
		font-family: 'ITCBaileySansCom-Bold';
		font-weight: 400;

		ion-slide {
			ion-icon {
				font-size: 50px;
				color: #ffffff;

				text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
			}

			h1 {
				margin: 0em;

				font-family: 'ITCBaileySansCom-Bold';
				font-size: 100%;
				font-weight: 400;
				line-height: 1.2em;
				color: #ffffff;

				text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
			}
		}

		.swiper-pagination {
			&.hide {
				display: block !important;
			}
			
			.swiper-pagination-bullet {
				color: #ffffff;
				background: #ffffff;
				opacity: .5;

				&.swiper-pagination-bullet-active {
					opacity: 1;
				}
			}
		}
	}

	ion-footer {
		padding: 0 20px 10px;
		background: transparent;
		
		&::before {
			content: none !important;
		}

		&.footer-md::before {
			content: none;
		}

		ion-toolbar {
			.toolbar-background {
				background: transparent;
			}

			#take-photo-button {
				font-size: 125%;
				font-family: 'ITCBaileySansCom-Bold';
				font-weight: 400;
				color: #ffffff;
				text-decoration: none;

				height: 50px;
			}

			#search-button {
				background: transparent;
				font-size: 125%;
				font-family: 'ITCBaileySansCom-Bold';
				font-weight: 400;
				color: #ffffff;

				height: 50px;
			}
		}
	}
}
