<ion-header>
	<ion-navbar color="primary" border-bottom-no>
		<ion-title>
			Produktinformation
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-list *ngIf="product">

		<ion-item class="warning" *ngIf="!product.approved" text-center>
	  	<h2>Väntar på godkännande!</h2>
	 	</ion-item>
	 	
		<ion-item class="flagged" *ngIf="isFlagged()" text-center>
	  	<h2>Anmäld som felaktig!</h2>
	 	</ion-item>
	 	
		<ion-item text-center>
			<p><img class="veg-icon" src="assets/images/{{veganOrNot()}}" /></p>
		</ion-item>
		<ion-item class="title">
			<h1>{{product.title}}</h1>
			<h2>{{product.subtitle}}</h2>
		</ion-item>
		<ion-item>
			<h2>Tillverkare</h2>
			<ion-note item-right>{{product.brand}}</ion-note>
		</ion-item>
		<ion-item *ngIf="category">
			<h2>Kategori</h2>
			<ion-note item-right>{{category.name}}</ion-note>
		</ion-item>
		<ion-item>
			<h2>EAN Kod</h2>
			<ion-note item-right>{{product.gtin}}</ion-note>
		</ion-item>
		<ion-item class="comment" *ngIf="product.general_comment">
			<h2>Kommentar</h2>
			<p>{{product.general_comment}}</p>
		</ion-item>
		<ion-item *ngIf="product.ingredients.contains_eggs || product.ingredients.contains_animal_milk || product.ingredients.contains_animal_ingredients || product.other.contains_traces_of_eggs || product.other.contains_traces_of_milk || product.ingredients.additives_may_come_from_animal_origin">
			<h2>Innehållsinformation</h2>
			<p *ngIf="product.ingredients.contains_eggs">Innehåller ägg.</p>
			<p *ngIf="product.ingredients.contains_animal_milk">Innehåller mjölkprodukter.</p>
			<p *ngIf="product.ingredients.contains_animal_ingredients">Innehåller animaliska ingredienser.</p>
			<p *ngIf="product.other.contains_traces_of_eggs">Kan innehålla spår av ägg.</p>
			<p *ngIf="product.other.contains_traces_of_milk">Kan innehålla spår av mjölk.</p>
			<p *ngIf="product.ingredients.additives_may_come_from_animal_origin">Produkten innehåller ingredienser som i sällsynta fall har animaliskt ursprung.</p>
		</ion-item>


		<ion-item>
			<ion-slides slidesPerView="3" spaceBetween="8">
				<ion-slide *ngFor="let image of images; let i = index">
					<img src="{{image.eager[0].url}}" (click)="openImagesModal(i)" />
				</ion-slide>
				<ion-slide id="upload">
					<ion-icon *ngIf="!uploading" (click)="chooseImage()" name="camera"></ion-icon>
					<ion-spinner *ngIf="uploading" ></ion-spinner>
				</ion-slide>
			</ion-slides>
		</ion-item>

		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col width-33><img src="assets/images/icon-glutenfree.png" [class.active]="product.ingredients.gluten_free" /></ion-col>
					<ion-col width-33><img src="assets/images/icon-organic.png" [class.active]="product.other.organic" /></ion-col>
					<ion-col width-33><img src="assets/images/icon-lactosefree.png" [class.active]="lactoseFree()" /></ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
		<ion-item padding *ngIf="!product.flagged || product.flagged.flagged == false">
			<button ion-button color="danger" outline block (click)="flagProduct()">Anmäl felaktighet</button>
		</ion-item>
	</ion-list>

	<div id="empty" *ngIf="empty">
		<div class="wrapper">
			<img src="assets/images/lost-product.png" />
			<h2 color="primary">Vi hittade inte produkten!</h2>
			<p>Produkten kunde tyvärr inte hittas i vår databas men du får gärna hjälpa oss genom att fylla i ett enkelt formulär. På så sätt skapar vi tillsammans en komplett databas som kan hjälpa andra som vill äta 100% veganskt.</p>
			<button ion-button outline color="primary" (click)="openFormModal()">Lägg till produkten</button>
		</div>
	</div>
</ion-content>
