page-product {

	ion-header {
		ion-title {
			font-family: 'ITCBaileySansCom-Bold';
			ont-weight: 400;
		}
	}

	ion-list {
		margin-bottom: 0px !important;

		ion-item {
			padding: 0 !important;

			&.warning {
				display: block;
				background-color: #e6007e;
				color: white;

				ion-label {
					margin: 4px 8px 5px 0;

					h2 {
						font-weight: 600;
					}
				}

				.item-inner {
					border-bottom: 2px;
				}
			}

			&.flagged {
				display: block;
				background-color: #D83836;
				color: white;

				ion-label {
					margin: 4px 8px 5px 0;

					h2 {
						font-weight: 600;
					}
				}

				.item-inner {
					border-bottom: 2px;
				}
			}

			.item-inner {
				padding: .5em 1em;
			}

		 	img.veg-icon {
		 		margin: auton;
		 		max-height: 150px;
		 	}

		 	h1 {
				font-family: 'ITCBaileySansCom-Bold';
				font-size: 1.5em;
				font-weight: 400;
				margin: 0;
			}

			h2 {
				margin: 0.5em 0;
			}

			&.title, &.comment {
				ion-label {
					white-space: normal;

					h2 {
						color: #000;
					}

					p {
						font-size: 1em;
  						margin: .5em 0 0 0;
						color: #aeacb4;
					}
				}
			}

			.item-button {
				height: 48px !important;
  				font-size: 1em !important;
			}

			ion-slides {
				ion-slide {
					&#upload {
						height: calc(33vw - 14px);
						border: 1px dashed #ddd;
						color: #ddd;

						ion-icon {
							font-size: 2.2em;
						}
					}
				}
			}
		}
	}

	ion-grid {
		ion-row {
			ion-col {
				img {
					opacity: .25;

					&.active {
						opacity: 1;
					}
				}
			}
		}
	}

	#empty {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;

		.wrapper {
			padding: 0 50px;
			text-align: center;

			img {
				max-height: 200px;
				opacity: .5;
			}

			h2 {
				font-family: 'ITCBaileySansCom-Bold';
				font-weight: 400;
			}

			p {
				opacity: .5;
				line-height: 1.5em;
			}

			button {
				margin-top: 1em;
				.button-inner {
					padding-bottom: 0.1em;
				}
			}
		}
	}

}