page-products {

	ion-header {

		ion-title {
			font-family: 'ITCBaileySansCom-Bold';
			font-weight: 400;
		}

		ion-navbar {
			.toolbar-background {
				border: none;
			}

			ion-icon {
				font-size: 1.7em;
			}
		}

		ion-toolbar {
			.toolbar-background {
				border: none;
			}
		}
	}

	ion-select {
		display: inline-flex;
	}

	ion-list {
		margin-bottom: 0 !important;

		ion-list-header {
			background: #f2fbfd !important;
		}

		ion-item {
			h2 {
				color: #222;
				font-family: 'ITCBaileySansCom-Bold';
				font-weight: 400 !important;
				font-size: 1.2em !important;

				ion-icon {
					margin-left: .25em;
					position: absolute;
  					top: 9px;
  					
					font-size: 1em;
				}
			}

			ion-badge {
				border: 1px solid #00D27B;
				background: transparent !important;
				color: #00D27B !important;
				font-weight: 400 !important;
			}

			.brand {
				margin: .5em 0 .25em;
			}

			.category {
				border: none !important;
				background: none;
				padding-left: 0px;

				color: #000000 !important;
			}
		}

		ion-item:last-of-type {
			.item-inner {
				border-bottom: none !important;
			}
		}

		ion-item-divider {
			border-top: 0.55px solid #c8c7cc;
			background: #f2fbfd !important;

			color: #7f7f7f !important;
			font-size: 1.2rem !important;
			font-weight: 500 !important;
			letter-spacing: 0.1rem !important;
			text-transform: uppercase !important;
		}
	}

	.infinite-loading {
		margin: 0;
	}
}
