<ion-header>
	<ion-navbar color="primary" border-bottom-no>
		<ion-title>Sök bland produkter</ion-title>
		<ion-buttons end>
	      	<button ion-button (click)="showCheckbox()">
	        	<ion-icon name="options"></ion-icon>
	      	</button>
	    </ion-buttons>
	</ion-navbar>

	<ion-toolbar color="primary" border-top-no border-bottom-no>
		<ion-searchbar placeholder="Sök efter en produkt" (ionInput)="searchProducts($event)" (ionClear)="searchProducts($event)"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content id="products-content">
	<ion-slides *ngIf="query">
		<ion-slide>
			<ion-card *ngIf="query" (click)="showProduct('6409100079277')">
				<ion-card-content>
				  <ion-item>
				  	<ion-avatar item-left>
						<img src="http://res.cloudinary.com/klandestino-ab/image/upload/v1486109944/dmsmevg5fehbmqisf3no.jpg">
					</ion-avatar>
					<h2>Texmex vegetarian <small>Ny!</small></h2>
					<p>Ready to eat</p>
					<p class="brand">Flodins</p>
				</ion-item>
				</ion-card-content>
			</ion-card>
		</ion-slide>
		<ion-slide>
			<ion-card *ngIf="query">
				<ion-card-content>
				  <ion-item>
				  	<ion-avatar item-left>
						<img src="http://res.cloudinary.com/klandestino-ab/image/upload/v1486109944/dmsmevg5fehbmqisf3no.jpg">
					</ion-avatar>
					<h2>Texmex vegetarian</h2>
					<p>Ready to eat</p>
					<p class="brand">Flodins</p>
				</ion-item>
				</ion-card-content>
			</ion-card>
		</ion-slide>
	</ion-slides>

	<ion-list *ngIf="categories && categories.length > 0">

		<ion-item *ngFor="let product of products" padding>
			<h2>{{product.title}} <small>{{product.subtitle}}</small></h2>
			<p class="brand">{{product.brand}}</p>
			<ion-badge class="category" *ngIf="product.category">{{categoryNameByCode(product.category).name}}</ion-badge>
			<ion-badge *ngIf="product.other.organic">Ekologisk</ion-badge>
			<ion-badge *ngIf="product.ingredients.gluten_free">Glutenfritt</ion-badge>
    		<button ion-button clear item-right (click)="showProduct(product.gtin)"><ion-icon name="ios-arrow-forward"></ion-icon></button>
		</ion-item>

	</ion-list>
	<ion-infinite-scroll (ionInfinite)="showMore($event)" *ngIf="products.length<count.count">
  		<ion-infinite-scroll-content></ion-infinite-scroll-content>
 	</ion-infinite-scroll>
</ion-content>
