page-products {

	ion-content {
		&.content-ios, &.content-md {
			background-color: #eefefe;
		}
	}

	ion-header {

		ion-title {
			font-family: 'ITCBaileySansCom-Bold';
			font-weight: 400;
		}

		ion-navbar {
			.toolbar-background {
				border: none;
			}

			ion-icon {
				font-size: 1.7em;
			}
		}

		ion-toolbar {
			.toolbar-background {
				border: none;
			}
		}
	}

	ion-grid#intro {
		padding: 3em 0 2em;

		ion-row {
			ion-col {
				text-align: center;

				span {
					display: block;
					color: #00b4d2;
					font-family: 'ITCBaileySansCom-Bold';
					font-weight: 400 !important;
					font-size: 1.2em !important;
				}
				h2 {
					margin: 0;

					font-family: 'ITCBaileySansCom-Bold';
					font-weight: 400 !important;
					font-size: 6.2em !important;
					color: #00b4d2;
  					line-height: 75%;
				}
			}
		}
	}

	ion-select {
		display: inline-flex;
	}

	ion-list {
		background-color: #ffffff;
		margin-bottom: 0 !important;

		ion-list-header {
			background: #f2fbfd !important;
		}

		button.item {
			padding: 0 !important;

			.item-inner {
				padding: 8px 16px;
			}
			
			h2 {
				color: #222;
				font-family: 'ITCBaileySansCom-Bold';
				font-weight: 400 !important;
				font-size: 1.2em !important;
			}

			ion-badge {
				border: 1px solid #00D27B;
				background: transparent !important;
				color: #00D27B !important;
				font-weight: 400 !important;
			}

			.brand {
				margin: .5em 0 .25em;
			}

			.category {
				border: none !important;
				background: none;
				padding-left: 0px;

				color: #222 !important;
			}

			button {
				ion-icon {
					font-size: 20px;
				}
			}
		}

		ion-item:last-of-type {
			.item-inner {
				border-bottom: none !important;
			}
		}

		ion-item-divider {
			border-top: 0.55px solid #c8c7cc;
			background: #f2fbfd !important;

			color: #7f7f7f !important;
			font-size: 1.2rem !important;
			font-weight: 500 !important;
			letter-spacing: 0.1rem !important;
			text-transform: uppercase !important;
		}
	}

	.infinite-loading {
		margin: 0;
	}
}
