<ion-header>
  <ion-navbar color="primary" border-bottom-no>
    <ion-buttons start>
      <button ion-button clear>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Sök produkter</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item *ngFor="let product of products" padding (click)="showProduct(product.gtin)">
	  		<h2>{{product.title}}</h2>
	  		<h3 *ngIf="product.subtitle">{{product.subtitle}}</h3>
	 	</ion-item>
	</ion-list>
	<div padding>
		<button ion-button color="primary" clear block (click)="showMore()">
			Visa fler produkter
		</button>
	</div>
</ion-content>
